	<%= @project.name %>
	<% if  !@project.description.empty? %>
		- <%= @project.description %> 
	<% end %>
	<%= image_tag @project.logo.url %> 

	<h2>Total hours worked at this project in this month: <%= @worked %></h2>

	<%= link_to('View entries', project_entries_path(@project.id)) %>